.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: var(--spacing-loose) var(--spacing-regular);
    /* mobile first */
    gap: var(--spacing-regular);
}

.heroText {
    flex: 1;
    min-width: 280px;
}

.hero h1 {
    font-size: var(--font-size-h1);
    margin-bottom: var(--spacing-tight);
    font-weight: 700;
    color: var(--color-accent);
    font-family: var(--font-heading);
}

.hero h2 {
    margin-top: 0;
    margin-bottom: var(--spacing-regular);
    font-size: var(--font-size-h2);
    font-weight: 500;
    color: var(--color-text-light);
    font-family: var(--font-heading);
}

.hero p {
    font-size: var(--font-size-body);
    line-height: 1.6;
    margin-bottom: var(--spacing-loose);
    max-width: 500px;
    color: var(--color-text-light);
    font-family: var(--font-body);
}

.heroImageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.heroImage {
    max-width: 280px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: var(--spacing-loose) var(--spacing-xloose);
        /* ← aire lateral en desktop */
    }

    .heroImageWrapper {
        justify-content: flex-end;
    }
}