:root {
    --font-heading: 'Karla', sans-serif;
    --font-body: 'Markazi Text', serif;

    --font-size-h1: 2.5rem;
    --font-size-h2: 1.5rem;
    --font-size-body: 1rem;
    --font-size-title: 2rem;
    --font-size-card-title: 1.25rem;
    --font-size-card-price: 1rem;
    --font-size-card-body: 0.95rem;
    --font-size-card-cta: 0.9rem;
}