.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-regular) var(--spacing-regular);
  /* mobile first: menos vertical */
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.header img {
  max-height: 48px;
  width: auto;
}

/* Responsive scaling */
@media (min-width: var(--bp-md)) {
  .header {
    padding: var(--spacing-regular) var(--spacing-xloose);
    /* vertical contenido, lateral amplio */
  }

  .header img {
    max-height: 64px;
  }
}